
/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height: ;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin: 0 !important;
}
.camera_wrap img {
	max-width: none !important;
    overflow: hidden;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	/*z-index: 1;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width:100%;
	/*z-index: 1;*/
    display: inline-block;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background:#efede0 url(../img/camera-loader.gif) no-repeat center;
	height: 36px;
    width: 36px;
    top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	z-index: 3;
    border-radius:36px;
}
.camera_loader img {
    border-radius:36px;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
    z-index:0;
    top: 0;
    margin-bottom:30px;
}
.slider > em {
    width:100%;
    height:7px;
    position:absolute;
    top:0;
    left:0;
    z-index: 3;
    background: url(../img/pattern2.png) repeat-x;
}
.slider > strong {
    width:100%;
    height:7px;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 3;
    background: url(../img/pattern.png) repeat-x;
}
.camera_pag {
	position: absolute;
	z-index: 10;
	bottom:-27px;
    width: 100%;
	padding:0;
	display:inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-align: center;
}
.camera_pag ul {
    display: inline-block;
float: none;
}
.camera-caption {
	position: absolute;
	top:40%;
    width:100%;
	display: block;
    padding:;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-align: left;
}
.camera-caption .title {
    font:100px/100px 'Droid Serif';
    color:#262626;
    margin-bottom:24px;
    display:inline-block;
    border-bottom:5px solid #262626;
}
.camera-caption .description {
    font:14px/24px 'Quattrocento Sans';
    color:#2c2c2c;
    margin-bottom:22px;
}
.camera-caption a {
    display:inline-block;
    font:bold 14px/32px 'Droid Sans';
    color:#2c2c2c;
    border-top:1px solid #2c2c2c;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera-caption a:hover {
    border-color:#6bb360;
    color:#6bb360;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_prev span, .camera_next span{
	position: absolute;
	display: block;
	width:101px;
	height:96px;
	top:50%;
    margin-top:-48px;
	cursor: pointer;
	z-index: 1000;
}
.camera_prev span{
	left:0;
	background:url(../img/prev.png) 0 top no-repeat;
}
.camera_prev span:hover{
    background:url(../img/prev.png) 0 bottom no-repeat;
}
.camera_next span{
	right:0;
	background:url(../img/next.png) 0 top no-repeat;
}
.camera_next span:hover{
    background:url(../img/next.png) 0 bottom no-repeat;
}
.camera_pag_ul {
    display: inline-block;
    float: right;
}
.camera_pag_ul li{
	text-indent: -100px;
    float:left;
    margin:0 0 0 4px;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li>span{
	cursor: pointer;
	display: block;
	width:7px;
	height:7px;
    border-radius:100%;
    background:none;
	text-indent: -100px;
	overflow: hidden;
    background:#2e2e2e;
    border-radius:100%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_pag_ul li>span>span{
    display:none;
}
.camera_pag_ul li.cameracurrent span, .camera_pag_ul li:hover span{
    background:#c7c7c7;
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1220px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px){
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
