/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJRgVThLs8Y7ETJzDCYFCSLE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZiMaisvaUVUsYyVzOmndek.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJbBAWGjcah5Ky0jbCgIwDB8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJf14vlcfyPYlAcQy2UfDRm4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJafJul7RR1X4poJgi27uS4w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJavyPXdneeGd26m9EmFSSWg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/X_EdMnknKUltk57alVVbVxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/nBF2d6Y3AbOwfkBM-9HcWBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/CdlIlwqST01WNAKqZbtZkhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/7k0RmqCN8EFxqS6sChuRzRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/WtcvfJHWXKxx4x0kuS1koRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v7/_aijTyevf54tkVDLy-dlnFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/WkvQmvwsfw_KKeau9SlQ2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/gYAtqXUikkQjyJA1SnpDLvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/MLKvhAbswThSVACnSTWCpxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/IiMFELcoPB-OzGzq14k4ehJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/H2j4_4xA-HIuoc_A3BIwVBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/EtSRPnpS3nIR-zKYiR-sDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/gMhvhm-nVj1086DvGgmzBxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://fonts.gstatic.com/s/ubuntu/v7/OsJ2DjdpjqFRVUSto6IffFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/oxrPYIm05JrY_0rFIEQ_oRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/4z2U46_RRLOfkoHsWJG3vxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/2vaWVxeAxHVkFcnCBCQCyRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/M-Ii49WH_TYYnOjQyLgTMBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/nsLtvfQoT-rVwGTHHnkeJhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v7/0ihfXUL2emPh0ROJezvraFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/s7gftie1JANC-QmDJvMWZhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/WeQRRE07FDkIrr29oHQgHBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/jyIYROCkJM3gZ4KV00YXOBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/phsu-QZXz1JBv0PbFoPmEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/9_7S_tWeGDh5Pq3u05RVkhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
	background: #ffffff;
	font: 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #2d2d2d;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	margin-bottom: 26px;
	font-weight: 300;
	line-height: 25px;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: left;
	height: auto;
}
h1.navbar-brand_ a {
	display: inline-block;
}
h2 {
	font: bold 58px/58px 'Roboto Slab';
	color: #303030;
	margin: 0 0 13px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h3 {
	font: 700 17px/21px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2d2d2d;
	margin: 0 0 28px 0;
}
h3.indent {
	margin-bottom: 53px;
}
h3.indent2 {
	margin-bottom: 17px;
}
h4 {
	font: bold 47px/59px 'Roboto Slab';
	color: #303030;
	margin: -6px 0 50px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h4.indent {
	margin: 0 0 26px 0;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	padding: 0;
	background: #ffffff;
}
.global.indent {
	padding: 83px 0 0 0;
	background: #ffffff;
}
.center {
	text-align: center;
}
/*-----menu-----*/
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 26px 0 0 0;
	float: right;
	display: inline-block;
	min-height: 0;
}
nav.tm_navbar li {
	font-size: 16px;
	line-height: 25px;
	margin: 0 2px 0 0;
	padding-right: 3px;
	float: left;
}
nav.tm_navbar li em {
	position: absolute;
	width: 1px;
	height: 8px;
	background: #d2d2d2;
	display: inline-block;
	top: 15px;
	right: 0;
}
nav.tm_navbar li:last-child {
	padding-left: 0;
	margin-left: 0;
}
nav.tm_navbar li a {
	position: relative;
	padding: 0 15px;
	font: 14px/39px 'Roboto Slab';
	color: #303030;
	text-transform: uppercase;
	background: none;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
nav.tm_navbar li.active > a {
	color: #ffffff;
	background: #74a5c5;
}
nav.tm_navbar li:hover > a {
	color: #ffffff;
	background: #74a5c5;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
nav.tm_navbar .sfHover > a {
	color: #ffffff;
	background: #74a5c5;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
nav.tm_navbar li span {
	height: 4px;
	background: url(../img/menu-marker.png) center 0 no-repeat;
	width: 100%;
	text-align: center;
	position: absolute;
	left: -2px;
	top: -7px;
	z-index: 0;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 159px;
	left: 0;
	top: 50px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #74a5c5;
	padding: 17px;
	margin: 0;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0 0 12px 0;
	line-height: 20px;
	padding: 0;
	display: block;
	position: relative;
}
nav.tm_navbar .sub-menu > ul li a {
	background: none;
	padding: 0;
	margin: 0;
	float: none;
	font: 300 15px 'Ubuntu';
	color: #ffffff;
	text-transform: none;
}
nav.tm_navbar .sub-menu > .submenu li span {
	display: inline-block;
	background: url(../img/menu-marker2.png) right 0 no-repeat;
	width: 5px;
	height: 10px;
	position: absolute;
	left: auto;
	right: 0px;
	top: 11px;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	color: #303030 !important;
	background: none !important;
	text-decoration: none;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	color: #303030 !important;
	background: none !important;
	text-decoration: none;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 165px;
	left: 143px;
	top: -17px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #74a5c5;
	padding: 17px;
	margin: 0;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: none;
	padding: 0;
	margin: 0;
	float: none;
	font: 300 15px 'Ubuntu';
	color: #ffffff;
	text-transform: none;
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	color: #303030 !important;
	background: none !important;
	text-decoration: none;
}
.select-menu {
	display: none !important;
}
/*-----content-----*/
header {
	position: relative;
	margin: 0;
	padding: 21px 0 31px 0;
	background: #ffffff;
	z-index: 11;
	border-bottom: 1px solid #d2d2d2;
}
header.indent {
	border-bottom: none;
}
footer {
	padding: 34px 0;
	text-align: center;
	position: relative;
}
footer > em {
	width: 100%;
	height: 7px;
	position: absolute;
	top: -7px;
	left: 0;
	z-index: 3;
	background: url(../img/pattern.png) repeat-x;
}
footer hr {
	margin: 0;
	border-top: 1px solid #d2d2d2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
footer p {
	font: 13px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #928e92;
	margin: 0;
}
footer p a {
	color: #928e92;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
footer p a:hover {
	color: #ed898f;
}
footer em {
	font-style: normal;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 80px;
	right: 30px;
	overflow: hidden;
	border: none;
	color: #f2f2f2;
	width: 40px;
	height: 43px;
	font-size: 43px;
	line-height: 38px;
	z-index: 20;
	-webkit-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}
#toTop:hover {
	outline: none;
	color: #ed898f;
}
.trainerBox {
	margin-bottom: 26px;
	position: relative;
	display: block;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure a {
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.trainerBox figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.trainerBox figure a:hover img {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.trainerBox figure img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	outline: 1px solid transparent;
}
.who-box {
	padding: 0;
	overflow: hidden;
}
.who-box .col-lg-4 {
	margin-bottom: 40px;
}
.thumb-box1 {
	overflow: hidden;
}
.thumb-box1 .col-lg-5 {
	text-align: center;
}
.thumb-box1 .col-lg-7 {
	padding-top: 61px;
}
.thumb-box2 {
	margin-bottom: 93px;
	overflow: hidden;
}
.thumb-box2 .col-lg-5 {
	text-align: center;
}
.thumb-box2 .col-lg-7 {
	padding-top: 114px;
}
.thumb-box3 {
	padding: 100px 0 89px 0;
	position: relative;
	text-align: center;
	background: url(../img/pattern3.png) repeat;
}
.thumb-box3 h3 {
	margin-bottom: 70px;
}
.thumb-box3 > em {
	width: 100%;
	height: 7px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background: url(../img/pattern2.png) repeat-x;
}
.thumb-box3 > strong {
	width: 100%;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	background: url(../img/pattern.png) repeat-x;
}
.thumb-box3 .title {
	font: bold 47px/59px 'Roboto Slab';
	color: #303030;
	margin: 0 0 15px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.thumb-box4 {
	padding: 98px 0 89px 0;
	position: relative;
	text-align: center;
}
.thumb-box4 .title {
	font: bold 47px/59px 'Roboto Slab';
	color: #303030;
	margin: 0 0 64px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.thumb-box4 > em {
	width: 100%;
	height: 7px;
	position: absolute;
	bottom: -7px;
	left: 0;
	z-index: 3;
	background: url(../img/pattern2.png) repeat-x;
}
.thumb-box5 {
	overflow: hidden;
}
.thumb-box5 figure {
	margin-bottom: 33px;
}
.thumb-box5 figure img {
	width: 100%;
}
.thumb-box6 {
	padding: 105px 0 24px 0;
	position: relative;
	margin-top: 44px;
	background: url(../img/pattern3.png) repeat;
}
.thumb-box6 > em {
	width: 100%;
	height: 7px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background: url(../img/pattern2.png) repeat-x;
}
.thumb-box6 > strong {
	width: 100%;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	background: url(../img/pattern.png) repeat-x;
}
.thumb-box6 .col-lg-4 {
	margin-bottom: 30px;
}
.thumb-box7 {
	overflow: hidden;
}
.thumb-box7 .col-lg-6 {
	margin-bottom: 30px;
}
.testimBox {
	padding: 100px 0 63px 0;
	position: relative;
	text-align: center;
	background: url(../img/pattern3.png) repeat;
}
.testimBox h3 {
	margin-bottom: 70px;
}
.testimBox > em {
	width: 100%;
	height: 7px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background: url(../img/pattern2.png) repeat-x;
}
.testimBox > strong {
	width: 100%;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	background: url(../img/pattern.png) repeat-x;
}
.errorBox1 {
	text-align: center;
	margin-bottom: 30px;
}
.errorBox2 {
	margin-bottom: 95px;
}
.errorBox2 h2 {
	margin-bottom: 24px;
}
.errorBox2 h4 {
	margin-bottom: 32px;
}
.errorBox2 p {
	font-size: 20px;
	line-height: 30px;
}
/*-----thumbs-----*/
.thumb-pad1 {
	overflow: hidden;
	margin-bottom: 30px;
	background: #ffffff;
	padding: 21px 27px 60px 27px;
}
.thumb-pad1 h3 {
	margin-bottom: 26px;
}
.thumb-pad1 p {
	margin-bottom: 38px;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0 0 32px 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0 0 14px 0;
	border-bottom: 1px solid #e8e8e8;
	background: none;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2d2d2d;
	text-align: left;
}
.thumb-pad1 .thumbnail .caption .title {
	font: 22px/33px 'Roboto Slab';
	color: #ed898f;
	text-transform: uppercase;
	margin-bottom: 0;
}
.thumb-pad1 .thumbnail .caption .title.color1 {
	color: #74a5c5;
}
.thumb-pad1 .thumbnail .caption .title.color2 {
	color: #3e3e3e;
}
.thumb-pad1 figure {
	margin: 0 15px 0 0;
	float: left;
}
.thumb-pad2 {
	margin: 0 0 30px 0;
	overflow: hidden;
	text-align: left;
}
.thumb-pad2 .thumbnail {
	position: relative;
	margin: 0 0 30px 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad2 figure {
	margin: 0 14px 0 0;
	float: left;
}
.thumb-pad2 figure img {
	border-radius: 100%;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	color: #2d2d2d;
	overflow: hidden;
}
.thumb-pad2 .thumbnail .caption .name {
	font: 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #2d2d2d;
	margin-bottom: 3px;
}
.thumb-pad2 .caption2 {
	background: #f4f4f4;
	border-radius: 20px;
	padding: 25px 38px 29px 38px;
	position: relative;
}
.thumb-pad2 .caption2 em {
	width: 37px;
	height: 19px;
	position: absolute;
	top: -19px;
	left: 30px;
	display: inline-block;
	background: url(../img/triangle.png) no-repeat;
}
.thumb-pad2 .caption2 p {
	font-style: italic;
	margin-bottom: 0;
}
.thumb-pad3 {
	overflow: hidden;
	margin: 0;
	padding-bottom: 45px;
}
.thumb-pad3.color1 .thumbnail {
	background: #94d1d6;
}
.thumb-pad3.color2 .thumbnail {
	background: #74a5c5;
}
.thumb-pad3.color3 .thumbnail {
	background: #3e3e3e;
}
.thumb-pad3.color4 .thumbnail {
  background: #A36EFF;
}
.thumb-pad3.color5 .thumbnail {
  background: #FF6476;
}
.thumb-pad3.color6 .thumbnail {
  background: #FF724B;
}
.thumb-pad3.color7 .thumbnail {
  background: #AAFFD0;
}
.thumb-pad3.color8 .thumbnail {
  background: #55A4FF;
}
.thumb-pad3.color9 .thumbnail {
  background: #28C9FF;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0 0 31px 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
	background: #ed898f;
}
.thumb-pad3 figure {
	margin: 0 29px 0 0;
	float: left;
}
.thumb-pad3 figure img {
	width: 100%;
}
.thumb-pad3 .thumbnail .caption {
	padding: 24px 0 0 0;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption p {
	margin-bottom: 0;
	color: #ffffff;
	font: 24px/30px 'Roboto Slab';
}
.thumb-pad3 .thumbnail .caption p span {
	font-size: 18px;
}
.thumb-pad4 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2d2d2d;
}
.thumb-pad4 .thumbnail .caption h3 {
	margin-bottom: 9px;
}
.thumb-pad4 figure {
	margin: 0 0 30px 0;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 {
	margin: 0 0 32px 0;
	overflow: hidden;
}
.thumb-pad5 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad5 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2d2d2d;
}
.thumb-pad5 .thumbnail .caption a {
	font: bold 24px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad5 .thumbnail .caption a:hover {
	color: #51bbb7;
}
.thumb-pad5 .thumbnail .caption p {
	margin-bottom: 5px;
}
.thumb-pad5 figure {
	margin: 0 0 36px 0;
}
.thumb-pad5 figure img {
	width: 100%;
}
.thumb-pad6 {
	margin: 0 0 30px 0;
	text-align: left;
}
.thumb-pad6 em {
	position: absolute;
	bottom: -19px;
	left: 30px;
	width: 37px;
	height: 19px;
	display: inline-block;
	background: url(../img/triangle2.png) no-repeat;
}
.thumb-pad6 .name {
	font: 300 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #2d2d2d;
	margin-bottom: 3px;
}
.thumb-pad6 .thumbnail {
	padding: 21px 28px 23px 38px;
	border-radius: 20px;
	margin: 0 0 38px 0;
	border: none;
	box-shadow: none;
	position: relative;
	background: #ffffff;
}
.thumb-pad6 .thumbnail .caption {
	padding: 0;
	color: #2d2d2d;
}
.thumb-pad6 .thumbnail .caption p {
	margin-bottom: 0;
	font-style: italic;
}
.thumb-pad7 {
	margin: 0;
}
.thumb-pad7 .thumbnail {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad7 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #2d2d2d;
}
.thumb-pad7 .thumbnail .caption p {
	font-style: italic;
	margin-bottom: 9px;
}
.thumb-pad7 .thumbnail .caption a {
	color: #f99973;
	text-transform: uppercase;
	font: 17px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad7 .thumbnail .caption a:hover {
	color: #74a5c5;
}
.thumb-pad7 figure {
	margin: 0 29px 0 0;
	float: left;
}
/*-----btn-----*/
.btn-default.btn1 {
	box-shadow: none;
	text-decoration: none;
	display: inline-block;
	padding: 0;
	font: 12px/20px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 0;
	text-shadow: none;
	letter-spacing: 2px;
	border-radius: 0;
	text-transform: uppercase;
	background: none;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn1:hover {
	color: #ed898f;
	background: none !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2 {
	box-shadow: none;
	text-decoration: none;
	display: inline-block;
	padding: 0 20px;
	font: 12px/40px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	letter-spacing: 2px;
	border-radius: 0;
	text-transform: uppercase;
	color: #ffffff;
	background: #ed898f;
	border: 1px solid #ed898f;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2:hover {
	color: #ed898f;
	background: transparent !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn3 {
	box-shadow: none;
	text-decoration: none;
	display: inline-block;
	padding: 0 20px;
	font: 12px/40px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	letter-spacing: 2px;
	border-radius: 0;
	text-transform: uppercase;
	color: #ffffff;
	background: #74a5c5;
	border: 1px solid #74a5c5;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn3:hover {
	color: #74a5c5;
	background: transparent !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn4 {
	box-shadow: none;
	text-decoration: none;
	display: inline-block;
	padding: 0 20px;
	font: 12px/40px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	letter-spacing: 2px;
	border-radius: 0;
	text-transform: uppercase;
	color: #ffffff;
	background: #3e3e3e;
	border: 1px solid #3e3e3e;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn4:hover {
	color: #3e3e3e;
	background: transparent !important;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
/*-----list-----*/
.list1-1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list1-1 li {
	font-size: 16px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 9px;
	padding-left: 16px;
	background: url(../img/list_point.png) left 7px no-repeat;
}
.list1-1 li a {
	font: bold 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2d2d2d;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list1-1 li a:hover {
	color: #74a5c5;
}
.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list1 li {
	font-size: 16px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 40px;
}
.list1 li .badge {
	width: 72px;
	height: 72px;
	text-align: center;
	background: #ffcca5;
	border-radius: 100%;
	border: none;
	padding: 0;
	margin: 0 18px 0 0;
	float: left;
	font: 30px/72px 'Roboto Slab';
	color: #ffffff;
}
.list1 li .title {
	font: 22px/33px 'Roboto Slab';
	color: #ed898f;
	text-transform: uppercase;
	margin: 0;
}
.list1 li p {
	margin: 12px 0 0 0;
}
.list1 li:first-child + li .badge {
	background: #ff9690;
}
.list1 li:first-child + li .title {
	color: #74a5c5;
}
.list1 li:first-child + li + li .badge {
	background: #94d1d6;
}
.list1 li:first-child + li + li .title {
	color: #2d2d2d;
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list2 li {
	font-size: 16px;
	line-height: 1.428571429;
	margin-bottom: 33px;
}
.list2 li p {
	margin-bottom: 0;
}
.list2 li h3 {
	text-transform: uppercase;
	margin-bottom: 17px;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list3 li {
	font-size: 16px;
	line-height: 1.428571429;
	margin-bottom: 24px;
	overflow: hidden;
}
.list3 li p {
	margin-bottom: 0;
}
.list3 li .badge {
	padding: 0;
	width: 53px;
	height: 53px;
	text-align: center;
	border-radius: 100%;
	background: #ddb258;
	float: left;
	margin: 0 12px 0 0;
	font-size: 24px;
	line-height: 53px;
	color: #ffffff;
	margin-top: 6px;
}
.list3 li h3 {
	text-transform: uppercase;
	margin-bottom: 8px;
}
.list4 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.list4 li {
	font-size: 16px;
	line-height: 1.428571429;
	margin-bottom: 15px;
}
.list4 li p {
	margin-bottom: 0;
}
.list5 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list5 li {
	border-bottom: 1px solid #c4c4c4;
	padding-bottom: 10px;
	margin-bottom: 13px;
}
.list5 li a {
	color: #ff5d5c;
	font: 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list5 li a:hover {
	color: #2d2d2d;
}
.list5 li:last-child {
	border-bottom: none;
}
.list6 {
	margin: 0;
	padding: 0 0 15px 0;
	list-style: none;
}
.list6 li {
	font-size: 16px;
	line-height: 1.428571429;
	margin-bottom: 25px;
}
.list6 li .badge {
	padding: 10px 0 0 0;
	width: 66px;
	height: 66px;
	text-align: center;
	border-radius: 100%;
	background: #6bb360;
	float: left;
	margin: 0 23px 0 0;
	font: 22px/22px 'Droid Serif';
	color: #ffffff;
}
.list6 li p {
	margin-bottom: 0;
	margin-top: 10px;
}
.list6 li a {
	font: 20px/22px 'Droid Serif';
	color: #6bb360;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list6 li a:hover {
	color: #2d2d2d;
}
.list7 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list7 li {
	font-size: 16px;
	line-height: 1.428571429;
	margin-bottom: 0;
}
.list7 li .badge {
	padding: 0;
	margin: 0;
	width: 53px;
	height: 53px;
	border-radius: 100%;
	background: #74c0bc;
	text-align: center;
	line-height: 52px;
	color: #ffffff;
	font-size: 24px;
	float: left;
	margin-right: 12px;
	margin-top: 6px;
}
.list7 li .title {
	text-transform: uppercase;
	color: #74c0bc;
	font: 300 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 11px;
}
.list8 {
	margin: 0 0 67px 0;
	padding: 0;
	list-style: none;
}
.list8 li {
	font-size: 16px;
	line-height: 1.428571429;
	margin-bottom: 28px;
}
.list8 li p {
	margin-bottom: 0;
}
.list8 li h3 {
	margin-bottom: 2px;
}
/*-----search-----*/
#search-404 {
	position: relative;
	margin: 0;
	overflow: hidden;
}
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: none;
	margin: 0 0 29px 0;
	width: 100%;
	outline: none;
	border: 1px solid #e5dfd8;
	background: #fefefe;
	font: 16px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #2d2d2d;
	padding: 10px 14px;
	height: 40px;
	resize: none;
}
#search {
	margin: 0 0 15px 0;
	position: relative;
	float: right;
}
#search a {
	position: absolute;
	top: 7px;
	right: 13px;
}
#search a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	width: 270px;
	background: #242424;
	border: 1px solid #292a31;
	font: italic 12px/18px 'Droid Serif';
	color: #5a5a5a;
	padding: 8px 45px 8px 14px;
	height: 36px;
	outline: none;
	resize: none;
	overflow: hidden;
}
.search-box {
	padding-bottom: 20px;
}
.search-box .title {
	font: 60px/60px 'Droid Serif';
	color: #ffffff;
}
.search-box .description {
	font: 10px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}
/*-----map-----*/
.formBox .col-lg-4, .formBox .col-lg-8 {
	margin-bottom: 61px;
}
.map {
	margin: 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 419px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.map2 {
	margin: 0 0 82px 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
}
.map2 iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 469px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.info p {
	margin-bottom: 37px;
}
.info p a {
	color: #f99973;
	text-decoration: underline;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.info p a:hover {
	color: #2d2d2d;
}
.info h3 {
	font-size: 24px;
	margin-bottom: 23px;
}
.mail {
	color: #74a5c5;
	font: 13px 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.mail:hover {
	color: #303030;
	text-decoration: none;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 #toTop {
 display: none !important;
}
 h4 {
 font-size: 30px;
 line-height: 40px;
}
 .thumb-pad3 {
 height: auto !important;
}
 .thumb-pad3 .thumbnail .caption {
 padding: 24px 15px 0 0;
}
 .thumb-pad1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1 .thumbnail .caption {
 text-align: center;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 #toTop {
 display: none !important;
}
 h1.navbar-brand_ {
 float: none;
}
 h4 {
 font-size: 30px;
 line-height: 40px;
}
 header {
 text-align: center;
}
 nav.tm_navbar {
 float: none;
}
 .thumb-box1 figure img {
 width: 100%;
}
 .thumb-box2 figure img {
 width: 100%;
}
 .thumb-pad3 {
 height: auto !important;
}
 .thumb-pad3 .thumbnail .caption {
 padding: 24px 15px 0 0;
}
 .thumb-pad1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1 .thumbnail .caption {
 text-align: center;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 #toTop {
 display: none !important;
}
 nav.tm_navbar .nav {
 display: none;
}
 h1.navbar-brand_ {
 float: none;
}
 h2 {
 font-size: 35px;
 line-height: 50px;
}
 h4 {
 font-size: 30px;
 line-height: 40px;
}
 header {
 text-align: center;
}
 nav.tm_navbar {
 float: none;
 display: block;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #ed898f;
 background: #ed898f;
 color: #ffffff;
 cursor: pointer;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .thumb-box2 .col-lg-5 {
 float: none !important;
}
 .thumb-box3 .title {
 font-size: 30px;
 line-height: 50px;
}
 .thumb-box3 .title br {
 display: none;
}
 .thumb-box4 .title {
 font-size: 30px;
 line-height: 50px;
}
 .thumb-box4 .title br {
 display: none;
}
 .thumb-pad4 figure {
 margin: 0 30px 0 0;
 float: left;
}
 .thumb-pad4 .thumbnail .caption {
 overflow: visible;
}
 .thumb-pad3 {
 height: auto !important;
}
 .thumb-pad3 .thumbnail .caption {
 padding: 24px 15px 0 0;
}
 .thumb-pad1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1 .thumbnail .caption {
 text-align: center;
}
 .map iframe {
 height: 300px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad4 figure {
 margin: 0 0 30px 0;
 float: none;
}
 .thumb-pad3 .thumbnail .caption {
 padding: 24px 15px 15px 15px;
}
 .thumb-pad3 figure {
 margin: 0;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .thumb-pad1 .thumbnail .caption .title {
 font-size: 15px;
}
 .list1 li .title {
 font-size: 15px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 .col-xs-6 {
 width: 100%;
 float: none;
}
 .thumb-box1 .col-lg-5 img {
 width: 100%;
}
 .thumb-box2 .col-lg-5 img {
 width: 100%;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 .col-xs-4 {
 width: 100%;
 float: none;
}
 .col-xs-6 {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 0;
}
.padBot {
	padding-bottom: 0;
}
/*Core variables and mixins*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
