/*css*/
/*@import "../design/reset.css";*/
@import "../design/skeleton.css";
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(http://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CUR-13DsDU150T1bKbJZejI.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(http://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1CfoVn-aGdXvQRwgLLg-TkDk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url(http://fonts.gstatic.com/s/playfairdisplay/v10/2NBgzUtEeyB-Xtpr9bm1Cdhy5e3cTyNKTHXrP9DO-Rc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: local('CinzelDecorative-Regular'), url(http://fonts.gstatic.com/s/cinzeldecorative/v4/fmgK7oaJJIXAkhd9798yQl4jZHmtnl4mfN0ClpLnj0E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel Decorative Bold'), local('CinzelDecorative-Bold'), url(http://fonts.gstatic.com/s/cinzeldecorative/v4/pXhIVnhFtL_B9Vb1wq2F9_FsHroRjx8_CLiuG6fjUuY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

	html, body {
		background: url(../../img/bg-1.gif) 0 0 repeat;
		font: 14px/21px Arial, sans-serif;
		color: #b1b1b1;
		min-width:300px;
	}

	* { -webkit-text-size-adjust: none;}

	a { color: inherit; text-decoration: none;}
	a:hover { text-decoration: none;}
	a[href^="tel:"] {color: inherit;text-decoration:none;}
	.a-hov { transition: all 0.4s ease;}
	.a-hov:hover { color: #ff7e6c;}

	ul li a { transition: all 0.4s ease;}

	h1, h2, h3, h4, h5, h6 { font-family: 'Playfair Display', serif; font-weight: normal;}
	h1 { }
	h2 {  color: #e75c46; font-size: 35px; line-height: 48px;  padding-top: 71px;  padding-bottom: 30px;}
	h3 { font-size: 35px; line-height: 48px; color: #e75c46;}
	h4 { font-size: 18px; line-height: 30px; color: #464646;}
	h5 { font-size: 14px; line-height: 21px; color: #6c6c6c; text-transform: uppercase; padding-bottom: 19px;}


	.title-1 { font-size: 24px; line-height: 30px; color: #e75c46;font-family: 'Playfair Display', serif;} 
	.title-2 { font-size: 18px; line-height: 30px; color: #464646;font-family: 'Playfair Display', serif;} 
	.title-3 { font-size: 55px; line-height: 48px; font-family: 'Playfair Display', serif; color: #e75c46;}
	.title-4 { font-size: 48px; line-height: 42px; color: #fff; font-weight: bold; font-family: 'Cinzel Decorative', cursive; padding-top: 56px;}
	.title-5 { font-size: 36px; line-height: 42px; color: #fff; font-weight: normal; font-family: 'Cinzel Decorative', cursive; padding-top: 3px;}
	.text-1 { font-size: 24px; line-height: 30px; color: #464646; font-family: 'Playfair Display', serif;}
	.text-2 { color: #464646;}

	.color-1 { }
	.color-2 { }

	.title-3 + h5 { padding-top: 42px;}
	.page-1 h2 { padding-top: 59px; padding-bottom: 33px;}
	p.text-2 { padding-bottom: 18px;}
	p.title-1 { padding-top: 27px; padding-bottom: 8px;}

	.btn {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		transition: all 0.4s ease;
		font-family: 'Playfair Display', serif;
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		background: #e75c46;
		height: 42px;
		line-height: 40px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		padding: 0 23px;
		margin-top: 30px;
}
	.btn:hover { background: #feba00;}

	.link { color: #e75c46;}
	.link:hover { text-decoration: underline;}


	.list { margin-top: 6px;}
	.list li { 
		font-family: 'Playfair Display', serif;
		font-size: 14px;
		line-height: 36px;
		text-transform: uppercase;
		padding-left: 25px;
		background: url(../../img/icon-1.png) 0 10px no-repeat;
	}
	.list li + li { margin-top: 0px;}
	.list li a { color: #4e4e4e;}
	.list li a:hover { color: #ffc843;}


	/*auxiliary*/

	.img-ind {float: left; margin-right: 19px; margin-top: 5px;}
	.img-ind-1 { float: right; margin-left: 40px; }
	.wrapper {width: 100%; position: relative;}
	.extra-wrap {overflow:hidden;}
	.grid_inside { margin: 0 -10px;}
	.aligncenter {text-align: center !important;}
	.alignleft { text-align: left !important; }
	.it {font-style:italic; display: inline-block;}
	.fleft {float: left;}
	.fright {float: right;}
	.h-underline:hover { text-decoration: underline;}
	.underline {text-decoration: underline;}
	.upp {text-transform: uppercase;}
	.transition {transition: all 0.4s ease;}

	.clearfix { *zoom: 1;}
	.clearfix:before,.clearfix:after {display: table; content: "";line-height: 0;}
	.clearfix:after { clear: both;}

	.pad-left { padding-left: 10px;}

	p { padding-bottom: 21px;}

	.bord-1 { background: url(../../img/bord-2.gif) 0 bottom repeat-x; height: 61px;}

	.img-ind + div > p.title-1 { padding-top: 0; }

/************Header************/
.logo-bg { background: #e7594c url(../../img/bord-1.gif) 0 16px repeat-x; position: relative;}
h1 { text-align: center; padding-top: 47px; padding-bottom: 48px;}
.logo-bg:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 17px;
	background: #e7594c url(../../img/bord-1.gif) 0 0px repeat-x;
	height: 1px;
}

.camera_wrap .camera_pag .camera_pag_ul li {
	text-indent: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	height: 27px;
	width: 27px;
	font: 12px/12px Arial, sans-serif;
	color: #000;
	background: none;
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 27px;
	width: 27px;
	left: 0px;
	overflow: visible;
	position: absolute;
	top: 4px;
	color: #000;
	background: none;
	line-height: 24px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 11px;
	color: #b9b9b9;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span,
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: url(../../img/pag-bg.png) 0 0 no-repeat;
	color: #fff;
}
.slider { padding-bottom: 6px; background: #ffffff url(../../img/bord-2.gif) 0 bottom repeat-x; }
.camera_caption > div { display: none;}
.camera_pag_ul { display: inline-block; margin-left: 7px!important;}
.camera_wrap .camera_pag .camera_pag_ul li { margin: 23px 3px 17px !important;}

/************Content***********/

.content { background: #ffffff url(../../img/bord-2.gif) 0 bottom repeat-x; padding-bottom: 80px;}

.row-1 { padding-top: 64px;}
.row-1 .title-3 { padding-top: 8px;}

.block-1 { background: url(../../img/bg-2.png) center center no-repeat; text-align: center; margin-top: 28px; padding-bottom: 42px;}
.block-1 .inside { position: relative; display: inline-block; margin-top: 28px;}
.block-1 .inside > .img-bord {border: 18px solid #fff; }
.block-1 .abs { z-index: 2; position: absolute; right: 0; top: 0; width: 159px; height: 159px; background: url(../../img/abs-1.png) 0 0 no-repeat;}
.block-1 .btn { margin-top: 20px;}
.block-1 + .bord-1 { height: 29px;}

.block-1 .btn { background: #feba00;}
.block-1 .btn:hover { background: #e75c46;}

.box-1 h2 { color: #feba00;}
.box-1 .btn { background-color: #ffc843;}
.box-1 .btn:hover { background-color: #e75c46;}

.block-2 + .block-2 { margin-top: 45px;}

.box-2 { margin-top: 28px; margin-bottom: 1px;}

.list_carousel { margin-top: 3px; position: relative; margin-bottom: 17px;}
.list_carousel ul { cursor: default;}
.list_carousel ul li { float: left;}
.list_carousel p.title-1 {padding-bottom: 18px;}

.pagination {position: inherit; bottom: 19px; right: 0;}

.pagination a { display: inline-block; margin-right: 5px;}
.pagination a span {
	display: block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 27px;
	width: 27px;
	left: 0px;
	overflow: visible;
	top: 4px;
	color: #000;
	background: none;
	line-height: 24px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 11px;
	color: #b9b9b9;
	transition: all .4s ease;
}
.pagination a.selected span,
.pagination a:hover span {
	background: url(../../img/pag-bg.png) 0 0 no-repeat;
	color: #fff;
}

.block-3 + .block-3 { margin-top: 24px;}

.block-4 .title-1 { padding-bottom: 4px;}
.block-4 .title-2 { padding-bottom: 0px; display: inline-block;}
a.title-2:hover { color: #e75c46;}
.block-4 ul li { display: inline-block; color: #464646; font-family: 'Playfair Display', serif; font-size: 18px; line-height: 30px;}
.block-4 + .block-4 { margin-top: 26px;}
.block-4 ul { padding-bottom: 14px;}

/************Footer************/

footer { padding-bottom: 40px;}
.f-bg-1 { background: #ffffff; padding-bottom: 60px;}
.f-list { text-align: center;}
.f-list li { 
	display: inline-block; 
	font-size: 18px; 
	line-height: 30px; 
	font-family: 'Playfair Display', serif;
	margin: 52px 24px;
}
.f-list li a { color: #252525;}
.f-list li a:hover,
.f-list li.current a { color: #b1b1b1;}

.list-services { text-align: center; padding-top: 1px; position: relative; padding-bottom: 15px;}
.list-services li {
	display: inline-block;
}

	[class*="list-services-"] {
		text-decoration: none;
		display: block;
		height: 40px;
		width: 40px;
		background: #fff url(../../img/social_icons.png) no-repeat;
		-webkit-transition: all 0.2s ease-out;
	    -moz-transition: all 0.2s ease-out;
	    -o-transition: all 0.2s ease-out;
	    -ms-transition: all 0.2s ease-out;
	    transition: all 0.2s ease-out;
		margin: 0px 5px;
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		-ms-border-radius: 500px;
		-o-border-radius: 500px;
		border-radius: 500px;
	}
	.list-services-1 { background-position: 0px 0px;}
	.list-services-2 { background-position: -54px 0px;}
	.list-services-3 { background-position: -108px 0px;}
	.list-services-4 { background-position: -162px 0px;}

	.list-services a:hover { opacity: .4;}

.copyright { 
	text-transform: uppercase;
	text-align: center;
	margin-top: 6px;
	font: 12px/36px Times New Roman, sans-serif;
}
.arrow_top {
	width: 70px;
	height: 70px;
	background: #fff;
	border: none;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-ms-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
	text-align: center;
	margin-top: -37px;
	display: inline-block;
	-webkit-box-shadow: inset 0 0 1px 1px #fff;
	-moz-box-shadow: inset 0 0 1px 1px #fff;
	box-shadow: inset 0 0 1px 1px #fff;
}
a.top {
	display: inline-block;
	width: 31px;
	height: 31px;
	background: #e7594c url(../../img/arrow-2.png) center center no-repeat;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-ms-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
	margin-top: 24px;
	transition: all .4s ease;
}
a.top:hover { background-color: #ffc843;}



	/*touch-touch*/ 
	.magnifier {
		position:relative;
		display:block;
		background: url(../../img/magnifier.png) center center no-repeat #000000;

	}
	.magnifier img {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.magnifier:hover img {
		opacity: 0.4;
	}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1024px) {
	.block-1 { background: url(../../img/bg-3-1.jpg) center center no-repeat;}
}

@media only screen and (max-width: 995px) {

}

@media only screen and (max-width: 767px) {
	.row-1 .img-ind-1 { width: 100%; margin-left: 0; margin-bottom: 40px;}
	.block-1 img { width: 100%; max-width: 400px;}
	.w1 { width: 40%; margin-right: 20px;}
	.f-list li {margin: 52px 4px;}
	h1 img { width: 100%; max-width:280px;}
	.block-4 .img-ind { width: 100%; margin-right: 0; float: none; margin-bottom: 15px;}

}
@media only screen and (max-width: 470px) {
	.f-list {display:none; }
	.list-services { padding-top: 40px;}
}
@media only screen and (max-width: 320px) {

}
