/*menu with jquery.horizontalNav.js*/

nav { 
	position:relative; 
	z-index: 11;
	margin-top: 24px;
	margin-bottom: 26px;
	text-align: center;
	padding-left: 17px;
}

.sf-menu { display: inline-block;}
.sf-menu ul {position:absolute; top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li { padding-left:0px; position:relative; background: none;}
	.sf-menu a {
		display: block;
		text-decoration: none;
		
	}
		.sf-menu a:hover {text-decoration: none;}

/*================================>> 1 Level <<========================================*/

li.sfHover {position: relative;}

.sf-menu > li > a {
	position: relative;
	display:block;
	padding: 0px 0px 0px;
	text-align: center;
	-moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    font-size: 20px;
    color: #232323;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
}
.sf-menu > li {
	display: block;
	margin: 0 30px;
	float: left;
	position: relative;
}
	.sf-menu > li.current > a,
	.sf-menu > li:hover > a,
	.sf-menu > li.sfHover > a {	color: #feba00;}

	.sf-menu > li:hover > a, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a,
	.sf-menu > li:hover > span, 
	.sf-menu > li.current > span, 
	.sf-menu > li.sfHover > span {
		text-decoration: none;
	}

.sf-menu > li > a > span {
	display: block;
	width: 0;
	height: 0;
	border: 4px solid;
	border-color: #232323 transparent transparent transparent;
	position: absolute;
	bottom: -10px;
	left: 50%;
}
.sf-menu > li a:hover > span,
.sf-menu > li.current > a span,
.sf-menu > li.sfHover > a span {border-color: #feba00 transparent transparent transparent;}

/*================================>> 2 Level <<========================================*/

.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	top: 57px;
	left: 18px;
	width: 91px;
	z-index:99;
	background: #feba00;
	text-align: center;
	padding: 20px 0px 20px;
}
.sf-menu > li > ul:after {
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	border: 5px solid;
	border-color: transparent transparent #feba00 transparent;
	top: -10px;
	left: 50%;
	margin-left: -5px;
}
.sf-menu > li > ul > li { height: auto;}

.sf-menu > li > ul > li > a {
	display: inline-block;
	border: none;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-family: Times New Roman;
	-moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
}
.sf-menu li li a:hover, 
.sf-menu li.sfHover li.sfHover>a,
.sf-menu li li:hover span,
.sf-menu li.sfHover li.sfHover span { 
	text-decoration: none;
	color: #c4452f;
}
.sf-menu li li:hover, 
.sf-menu li.sfHover li.sfHover { }

.sf-menu > li li > a > span {
	position: absolute;
	width: 4px;
	height: 7px;
	top: 9px;
	right: 16px;
	background: url(../images/arrow-1.png) right 0 no-repeat;
}

/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	left: 91px;
	top: -17px;
	width: 88px;
	z-index:99;
	position: absolute;
	padding-top: 17px;
	padding-bottom: 20px;
	margin-top: 0;
	text-align: left;
	background: #c4452f;
}

.sf-menu li li li {width: 100%; padding-left: 17px;}
.sf-menu li li li a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	-moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    font-family: Times New Roman;
}
.sf-menu li li li:hover {}
.sf-menu li li li:hover a {	color: #ffa89a;}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu > li { margin: 0 15px;}
}

@media only screen and (max-width: 767px) {
	.sf-menu { display:none !important;}
	nav { float: none; margin-left: 0; margin-bottom: 0; margin-top: 15px; padding-left: 0;}

	nav select {
		height: 35px;
		border: 1px solid #f0ab36;
		font-family: Trebuchet MS, sans-serif; 
		font-size: 14px;
		line-height: 20px;
		color: #ffffff;
		background-color: #f0ab36;
		width:420px;
		width: 100%;
	    outline: none;
	    padding: 5px;
		font-weight: normal;
		margin-top: 0px;
		margin-bottom: 25px;
	}

	nav select option:first-child {
		color:#ffffff;
	}
}

@media only screen and (max-width: 479px) {

}